<!-- removepunc -->
        <!-- <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="removepunc"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault1"
            >Remove punctuations</label
          > -->
        <!-- </div> -->

        <!-- uppercase -->
        <!-- <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="uppercase"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault2"
            >Uppercase</label
          >
        </div> -->

        <!-- lowercase -->
        <!-- <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="lowercase"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault3"
            >Lowercase</label
          >
        </div> -->

        <!-- extra space remover -->
        <!-- <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="extraspaceremover"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault4"
            >Remove extra space</label
          >
        </div> -->
        <!-- new line remover -->
        <!-- <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="newlineremover"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault5"
            >New line remover</label
          >
        </div> -->
        <!-- charector count -->
        <!-- <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="charcount"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault6"
            >Count charector</label
          >
        </div>
        wordcount
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="wordcount"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault7"
            >Count words</label
          >
        </div> -->